.carousel-item, .carousel {
position: relative;
}

.carousel-item img.overlay {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: 2;
}

.carousel-item img.deal-pic {
position: relative;
z-index: 1;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    position: absolute;
    top:22%;
}

